.order .status {
  background: #d58d49;
  color: #494949;
  padding: 2px;
}
.done .status {
  background: #c8ebdd;
  color: #8bc48a;
  padding: 2px;
  border-radius: 1px;
}
.pending .status {
  color: #494949;
  border-radius: 1px;
  padding: 2px;
}
.item {
  height: 200px;
  width: 200px;
  border: 2px solid red;
  margin: 10px;
}
.drag-drop-container {
  padding: 10px;
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  width: 97%;
}

.listitems {
  list-style-type: none;
  width: 100%;
  margin-left: -20px;
}

.donecontainer {
  padding: 10px;
  background: #f5f5f5;
  border-radius: 16px 16px 16px 16px;
  margin-left: 10px;
  margin-top: 0px;
  align-self: flex-start;
}
.todocontainer {
  padding: 10px;
  background: #f5f5f5;
  border-radius: 16px 16px 0px 0px;
  margin-left: 25px;
  margin-top: 0px;
  align-self: flex-start;
  /* border: 2px solid red; */
  margin-right: 0px;
}
.onprogresscontainer {
  padding: 10px;
  /* width: 300px; */
  /* height: 625px; */
  background: #f5f5f5;
  border-radius: 16px 16px 16px 16px;
  margin-left: 10px;
  margin-top: 0px;
  align-self: flex-start;
}
.hrc {
  height: 4px;
  background: #68b266;
  margin-top: 10px;
}
.hrt {
  height: 4px;
  background: #5030e5;
  margin-top: 10px;
}
.todohead {
  width: 45px;
  height: 19px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #0d062d;
}
.cdot {
  height: 8px;
  width: 8px;
  background: #68b266;
  border-radius: 10px;
  margin-right: 10px;
}
.tdot {
  height: 8px;
  width: 8px;
  background: #5030e5;
  border-radius: 10px;
  margin-right: 10px;
}
.dotd {
  display: flex;
  align-items: center;
}
.todotop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.progresshead {
  width: 95px;
  height: 19px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #0d062d;
}
.pdot {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #ffa500;
  margin-right: 10px;
}
.hrp {
  height: 4px;
  background: #ffa500;
  margin-top: 10px;
}
.todoadd {
  height: 25px;
}
.tcount {
  box-sizing: border-box;
  margin-left: 10px;
  padding-left: 5px;
  /* padding: 10px; */
  width: 20px;
  height: 20px;
  background: #e0e0e0;
  border-radius: 10px;
}
.containerlist {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.progrestatusc {
  width: 76px;
  height: 23px;
  background: rgba(113, 238, 165, 0.2);
  border-radius: 4px;
}
.smallcard {
  /* height: 250px; */
  /* width: 250px; */
  cursor: move;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}
.comhead {
  width: 41px;
  height: 19px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #0d062d;
}
.commentimg {
  width: 95%;
  margin-left: 10px;
  margin-top: 15px;
  height: 30px;
}
.pdots {
  font-size: 30px;
  margin-top: -20px;
}
.progressdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.heading {
  margin-left: 8px;
  width: 210px;
  height: 22px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  color: #0d062d;
}
.imglistimg {
  width: 120px;
  height: 90px;
}
.ulimages {
  margin-left: -15px;
  display: flex;
  align-items: center;
  padding: 10px;
}
.imglist {
  display: flex;
  list-style: none;
  margin: 8px;
}

.singleimg {
  width: 90%;
  margin-left: 10px;
  margin-top: 10px;
}

.order .status {
  background: #fff1de;
  color: #494949;
  padding: 3px 10px;
  border-radius: 18px;
}
.done .status {
  background: #c8ebdd;
  color: #494949;
  padding: 3px 10px;
  border-radius: 18px;
}
.pending .status {
  background: #cfd8f0;
  color: #494949;
  padding: 3px 10px;
  border-radius: 18px;
}

@media (max-width: 576px) {
  .drag-drop-container {
    width: 96%;
  }
  .todocontainer {
    width: 30%;
  }
  .donecontainer {
    width: 30%;
  }
  .onprogresscontainer {
    width: 30%;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .drag-drop-container {
    width: 96%;
  }
  .todocontainer {
    width: 30%;
  }
  .donecontainer {
    width: 30%;
  }
  .onprogresscontainer {
    width: 30%;
  }
}
@media (min-width: 768px) {
  .drag-drop-container {
    width: 97%;
  }
  .todocontainer {
    width: 30%;
  }
  .donecontainer {
    width: 30%;
  }
  .onprogresscontainer {
    width: 30%;
  }
}
